{% extends 'layouts/layout.html.twig' %}
{% import _self as m %}

{% macro platoon() %}
    <div class="platoon">
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro army(nr_of_platoons) %}
    {% import _self as m %}
    {% for i in range(1, nr_of_platoons) %}
        <div class="col">
            {{ m.platoon() }}
            {{ m.platoon() }}
        </div>
    {% endfor %}
{% endmacro %}

{% block content %}
    <header class="s s-header">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalik.svg" class="kgalik">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                    <img src="/images/kgalik.svg" class="kgalik">
                </div>
            </div>

            <h1>Zastavme inváziu kgálikov</h1>
            <p>
                Robia hnedé bobky a tolerujú iba biele zvieratká. A množia sa.<br>
                Ako ich zastaviť?
            </p>
        </div>
    </header>
    <section class="s s-gogogo">
        <div class="c">
            <h2>
                Dostaň ich pod čiaru
            </h2>

            <p class="small">
                4. novembra budú voľby do VÚC. Tvoj hlas má oveľa väčšiu váhu ako v parlamentných voľbách, pretože menej ľudí volí menej poslancov.
            </p>
            <p>
                Kgálici to vedia a ich odhodlaní priaznivci sú disciplinovaní. Oni voliť prídu.
            </p>
        </div>
    </section>
    <section class="s s-magian">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                </div>
            </div>

            <h2>Jeden kgálik Magián</h2>
            <p>
                bol zvolený za predsedu samosprávneho kraja v roku 2013.
            </p>
        </div>
    </section>
    <section class="s s-parliament">
        <div class="c">
            <div class="d-md-block d-none">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 6) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 7) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-md-none d-sm-block d-none">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 4) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 5) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 4) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="d-sm-none d-block">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 2) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 2) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col">

                    </div>
                </div>
            </div>

            <h2>14 kgálikov</h2>
            <p>
                bolo zvolených do parlamentu v roku 2016.<br>Hlasovalo za nich viac ako 200&nbsp;000 voličov.
            </p>
        </div>
    </section>

    <section class="s s-vuc">
        <div class="c">
            <div class="d-lg-block d-none">
                <div class="row">
                    {{ m.army(5) }}
                </div>
                <div class="row">
                    {{ m.army(2) }}
                    <div class="col">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    {{ m.army(2) }}
                </div>
                <div class="row">
                    {{ m.army(5) }}
                </div>
            </div>
            <div class="d-lg-none d-block">
                <div class="row">
                    {{ m.army(3) }}
                </div>
                <div class="row">
                    {{ m.army(3) }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    {{ m.army(3) }}
                </div>
                <div class="row">
                    {{ m.army(3) }}
                </div>
            </div>

            <h2>337 kgálikov</h2>
            <p>
                kandiduje do VÚC za župných poslancov v roku 2017
            </p>
        </div>
    </section>
    <section class="s s-form">
        <div class="c">
            <h2>Kgáliky sú pripravené na inváziu.<br>Aj v tvojej obci!</h2>

            <p>
                Na zvolenie župných poslancov stačí iba málo hlasov
                a&nbsp;priaznivci kgálikov sa&nbsp;chystajú disciplinovane voliť.
            </p>

            <p>
                Pozri si ako to vyzerá v tvojej obci.
            </p>


            <form>
                <select id="municipality"></select>
            </form>
        </div>
    </section>
    <section class="s s-municipality" style="display: none;">
    </section>
    <section class="s s-call-to-action">
        <div class="c">
            <h2>
                Pomôž zastaviť inváziu.<br>
                Poď 4. novembra voliť<br>
                a zakrúžkuj nekgálikov&nbsp;
            </h2>

            <p>
                Ísť voliť a krúžkovať proti&nbsp;invázii je dôležité.
            </p>
            <p>
                Povedz to aj svojim kamarátom.
            </p>

            <div>
                <a href="" class="fb-share" target="_blank">Zdieľaj na FB</a>
            </div>
        </div>
    </section>
    {#<section class="s s-footer">#}
        {#<div class="c">#}
            {#<a href="" class="fb-share" target="_blank">Zdieľaj na FB</a>#}
        {#</div>#}
    {#</section>#}
{% endblock %}