{% extends 'layouts/layout.html.twig' %}
{% import _self as m %}

{% macro platoon() %}
    <div class="platoon">
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col-1-6">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col-1-6">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro army(nr_of_platoons, nr_of_cols) %}
    {% import _self as m %}
    {% for i in range(1, nr_of_platoons) %}
        <div class="col-1-{{ nr_of_cols }}">
            {{ m.platoon() }}
            {{ m.platoon() }}
        </div>
    {% endfor %}
{% endmacro %}

{% block content %}
    <header class="s s-header">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalik.svg" class="kgalik">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                    <img src="/images/kgalik.svg" class="kgalik">
                </div>
            </div>

            <h1>Zastav inváziu kgálikov</h1>
            <p>
                Robia hnedé bobky a tolerujú iba biele zvieratká. A&nbsp;množia&nbsp;sa.
            </p>
            <p>
                Ako ich môžeš zastaviť?
            </p>
        </div>
    </header>
    <section class="s s-gogogo">
        <div class="c">
            <h2>
                Dostaň ich pod&nbsp;čiaru
            </h2>

            <p>
                4.&nbsp;novembra budú voľby do&nbsp;VÚC. Tvoj&nbsp;hlas má oveľa väčšiu váhu ako&nbsp;v&nbsp;parlamentných voľbách, pretože menej ľudí volí menej poslancov.
            </p>
            <p>
                Kgálici to vedia a&nbsp;ich&nbsp;odhodlaní priaznivci sú disciplinovaní. Oni&nbsp;voliť&nbsp;prídu.
            </p>
        </div>
    </section>
    <section class="s s-magian">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                </div>
            </div>

            <h2>Jeden kgálik Magián</h2>
            <p>
                bol zvolený za predsedu samosprávneho kraja v roku 2013.
            </p>
        </div>
    </section>
    <section class="s s-parliament">
        <div class="c">
            <div class="visible-md visible-lg">
                <div class="row">
                    <div class="col-1-7">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 6) %}
                        <div class="col-1-7">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 7) %}
                        <div class="col-1-7">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="visible-sm">
                <div class="row">
                    <div class="col-1-5">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 4) %}
                        <div class="col-1-5">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 5) %}
                        <div class="col-1-5">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 4) %}
                        <div class="col-1-5">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col-1-5">

                    </div>
                </div>
            </div>
            <div class="visible-xs">
                <div class="row">
                    <div class="col-1-3">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 2) %}
                        <div class="col-1-3">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col-1-3">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col-1-3">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col-1-3">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 2) %}
                        <div class="col-1-3">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col-1-3">

                    </div>
                </div>
            </div>

            <h2>14&nbsp;kgálikov</h2>
            <p>
                bolo zvolených do parlamentu v&nbsp;roku&nbsp;2016.<br> Hlasovalo za nich viac&nbsp;ako&nbsp;200&nbsp;000&nbsp;voličov.
            </p>
        </div>
    </section>

    <section class="s s-vuc">
        <div class="c">
            <div class="visible-lg visible-md">
                <div class="row">
                    {{ m.army(5, 5) }}
                </div>
                <div class="row">
                    {{ m.army(2, 5) }}
                    <div class="col-1-5">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    {{ m.army(2, 5) }}
                </div>
                <div class="row">
                    {{ m.army(5, 5) }}
                </div>
            </div>
            <div class="hidden-md hidden-lg">
                <div class="row">
                    {{ m.army(3, 3) }}
                </div>
                <div class="row">
                    {{ m.army(3, 3) }}
                </div>
                <div class="row">
                    <div class="col-1-3">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col-1-3">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    <div class="col-1-3">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    {{ m.army(3, 3) }}
                </div>
                <div class="row">
                    {{ m.army(3, 3) }}
                </div>
            </div>

            <h2>337 kgálikov</h2>
            <p>
                kandiduje do&nbsp;VÚC za&nbsp;župných poslancov v&nbsp;roku&nbsp;2017
            </p>
        </div>
    </section>
    <section class="s s-form">
        <div class="c">
            <h2>Kgálici sú&nbsp;pripravení na&nbsp;inváziu.<br> Aj&nbsp;v&nbsp;tvojej obci!</h2>

            <p>
                Na&nbsp;zvolenie župných poslancov stačí iba&nbsp;málo hlasov<br>
                a&nbsp;priaznivci kgálikov sa&nbsp;chystajú disciplinovane voliť.
            </p>

            <p>
                Pozri si ako to vyzerá v tvojej obci.
            </p>


            <form>
                <select id="municipality"></select>
            </form>
        </div>
    </section>
    <section class="s s-municipality" style="display: none;">
    </section>
    <section class="s s-call-to-action">
        <div class="c">
            <h2>
                Pomôž zastaviť inváziu.<br>
                Poď 4. novembra voliť<br>
                a&nbsp;zakrúžkuj nekgálikov&nbsp;
            </h2>

            <p>
                Ísť voliť a krúžkovať proti&nbsp;invázii je&nbsp;dôležité.
            </p>
            <p>
                Povedz to aj svojim kamarátom.
            </p>

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v2.10&appId=153936648677078';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <div class="links">
                <a href="/koho-volit">Zobraziť koho voliť</a>
                <a href="https://kralici.sk/" target="_blank">Zobraziť mapu ohrozenia</a>
            </div>

            <div class="fb-like" style="margin-top: 30px;" data-href="https://www.facebook.com/kgalici/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

            <div>
                <a href="https://www.facebook.com/sharer.php?title={{ FB_TITLE|url_encode }}={{ FB_DESCRRIPTION|url_encode }}&u={{ FB_URL|url_encode }}" class="fb-share" target="_blank">Zdieľaj na FB</a>
            </div>
        </div>
    </section>
{% endblock %}