{% extends 'layouts/layout.html.twig' %}

{% macro platoon() %}
    <div class="platoon">
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
        <div class="row no-gutters">
            {% for i in range(1, 6) %}
                <div class="col">
                    <img src="/images/kgalik.svg">
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

    {% import _self as m %}

{% block content %}
    <header class="s s-header">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalik.svg" class="kgalik">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                    <img src="/images/kgalik.svg" class="kgalik">
                </div>
            </div>

            <h1>Zastavme inváziu Kgálikov</h1>
            <p>
                Množia sa, robia hnedé bobky a tolerujú iba biele zvieratká.<br>
                Ako ich zastaviť?
            </p>
        </div>
    </header>
    <section class="s s-magian">
        <div class="c">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/images/kgalikm.svg" class="kgalikm">
                </div>
            </div>

            <h2>1 Kgálik Magián</h2>
            <p>
                bol v roku 2013 zvolený za predsedu banskobystrického samosprávneho kraja.
            </p>
        </div>
    </section>
    <section class="s s-parliament">
        <div class="c">
            <div class="d-md-block d-none">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 6) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 7) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-md-none d-sm-block d-none">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 4) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 5) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 4) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="d-sm-none d-block">
                <div class="row">
                    <div class="col">
                        <img src="/images/kgalikm.svg">
                    </div>
                    {% for i in range(1, 2) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 3) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in range(1, 2) %}
                        <div class="col">
                            <img src="/images/kgalik.svg">
                        </div>
                    {% endfor %}
                    <div class="col">

                    </div>
                </div>
            </div>

            <h2>14 Kgálikov</h2>
            <p>
                bolo zvolených do parlamentu v roku 2016. Hlasovalo za nich viac ako 200.000 voličov.
            </p>
        </div>
    </section>

    <section class="s s-vuc">
        <div class="c">
            <div class="d-lg-block d-none">
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
            </div>
            <div class="d-lg-none d-block">
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        <img src="/images/kgalikm.svg" class="kgalikm">
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                    <div class="col">
                        {{ m.platoon() }}
                        {{ m.platoon() }}
                    </div>
                </div>
            </div>

            <h2>337 Kgálikov</h2>
            <p>
                kandiduje za župného poslanca (VÚC) v roku 2017.
            </p>
        </div>
    </section>
{% endblock %}