{% extends 'layouts/candidates.html.twig' %}
{% import _self as m %}

{% block content %}
    <section class="s s-call-to-action">
        <div class="c">
            <h1>Zvolení poslanci</h1>
            <h2>Počet zvolených kgálikov: {{ kgalici_count }}</h2>

            <table class="table table-condensed" style="background-color: white; text-align: left;">
                <thead>
                    <tr>
                        <th>
                            Meno
                        </th>
                        <th>
                            Strana/Koalícia
                        </th>
                        <th>
                            Počet hlasov
                        </th>
                        <th>
                            %
                        </th>
                        <th>
                            Obvod
                        </th>
                    </tr>
                </thead>
            {% for region_name, region in regions %}
                <tr>
                    <th colspan="5">
                        {{ region_name }}
                    </th>
                </tr>
                {% for sr_name, sr in region['subregions'] %}

                    {% for person in sr.people %}
                        <tr>
                            <td>
                                {{ person.name }}
                            </td>
                            <td>
                                {{ person.party }}
                            </td>
                            <td>
                                {{ person.nr_of_votes }}
                            </td>
                            <td>
                                {{ person.nr_of_votes_relative }}%
                            </td>
                            <td>
                                {{ sr_name }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for person in sr.people_under_line %}
                        <tr>
                            <td style="background-color: #ffc3cb;">
                                {{ person.name }}
                            </td>
                            <td style="background-color: #ffc3cb;">
                                {{ person.party }}
                            </td>
                            <td style="background-color: #ffc3cb;">
                                {{ person.nr_of_votes }}
                            </td>
                            <td style="background-color: #ffc3cb;">
                                {{ person.nr_of_votes_relative }}%
                            </td>
                            <td style="background-color: #ffc3cb;">
                                {{ sr_name }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

            {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}