{% import _self as m %}

{% macro candidates(count) %}
    {% if count == 1 %}
        {% set class = '' %}
    {% elseif count == 2 %}
        {% set class = '2-1' %}
    {% elseif count <= 4 %}
        {% set class = '2-2' %}
    {% elseif count <= 6 %}
        {% set class = '3-2' %}
    {% elseif count <= 9 %}
        {% set class = '3-3' %}
    {% elseif count <= 12 %}
        {% set class = '4-3' %}
    {% else %}
        {% set class = '4-4' %}
    {% endif %}

    <div class="image-wrapper">
        <div class="candidates-wrapper">
            {% for i in range(1, count) %}
                <img src="/images/kgalik-candidate.svg" class="can-{{ class }}-{{ i }}">
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<div class="c">
    <h2>
        {{ municipality.name }},<br>
        {% if nr_of_lsns_candidates == 0 %}
            kgálici v tvojom obvode nekandidujú!
        {% else %}
            hrozí zamorenie kgálikmi!
        {% endif %}
    </h2>

    <div class="row">
        <div class="col-md-4">
            {{ m.candidates(nr_of_lsns_candidates == 0 ? 1 : nr_of_lsns_candidates) }}

            <h3>
                {% if nr_of_lsns_candidates == 0 %}
                    kgálici nekandidujú za poslancov
                {% else %}
                    {{ nr_of_lsns_candidates }}&nbsp;{{ nr_of_lsns_candidates == 1 ? 'kgálik kandiduje' : (nr_of_lsns_candidates <= 4 ? 'kgálici kandidujú' : 'kgálikov kandiduje') }}  za&nbsp;{{ nr_of_lsns_candidates == 1 ? 'poslanca' : 'poslancov' }}
                {% endif %}
            </h3>

            <p>
                v tvojom volebnom obvode, ktorý sa skladá z {{ nr_of_municipalities == 1 ? 'obce' : 'obcí' }}
                {% if subregion_info.visible is not empty %}
                    {{ subregion_info.visible }}{% if subregion_info.hidden is empty %}.{% else %}<span class="show-more-municipalities">... <a href="">zobraziť všetky obce</a></span><span class="hidden-municipalities">{{ subregion_info.hidden }}.</span>{% endif %}
                {% endif %}
            </p>
        </div>
        {% if min_votes > 0 %}
            <div class="col-md-4">
                <div class="image-wrapper">
                    <img src="/images/chair.svg">
                </div>

                <h3>
                    {{ min_votes }}&nbsp;krúžkov stačilo na&nbsp;zvolenie poslanca*
                </h3>
                {% set nr_of_votes = votes|length %}
                <p>
                    * Vo voľbách do VÚC v roku 2013 sa v tvojom volebnom obvode {{ nr_of_votes == 1 ? 'volil jeden poslanec. Tento poslanec získal' :
                    (nr_of_votes <= 4 ? 'volili ' ~ nr_of_votes ~ ' poslanci. Títo poslanci získali' : 'volilo ' ~ nr_of_votes ~ ' poslancov. Títo poslanci získali') }} {{ votes_info }} krúžkov.
                    {% if nr_of_votes > 1 %}
                        <a href="" class="show-representatives-table">Zobraziť tabuľku poslancov</a>
                    {% endif %}
                </p>
                {% if nr_of_votes > 1 %}
                    <table class="table table-striped representatives-table">
                        {% for vote in votes %}
                            <tr>
                                <td>
                                    {{ loop.index }}. poslanec
                                </td>
                                <td>
                                    {{ vote }} krúžkov
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        {% endif %}
        <div class="col-md-4">
            <div class="image-wrapper">
                <img src="/images/supporters.svg">
            </div>

            <h3>
                kgálici majú {{ nrsr_info.lsns_nr_of_valid }}&nbsp;a&nbsp;viac priaznivcov**
            </h3>
            <p>
                ** Vo voľbách do NRSR v roku 2016 volilo v tvojom volebnom obvode kgálikov {{ nrsr_info.lsns_nr_of_valid }} ľudí. Od&nbsp;volieb stúpli, podľa prieskumov, preferencie kgálikov o 2 percentuálne body.
            </p>
        </div>
    </div>
</div>