{% import _self as m %}

{% macro candidates(count) %}
    {% if count == 1 %}
        {% set class = '' %}
    {% elseif count == 2 %}
        {% set class = '2-1' %}
    {% elseif count <= 4 %}
        {% set class = '2-2' %}
    {% elseif count <= 6 %}
        {% set class = '3-2' %}
    {% elseif count <= 9 %}
        {% set class = '3-3' %}
    {% elseif count <= 12 %}
        {% set class = '4-3' %}
    {% else %}
        {% set class = '4-4' %}
    {% endif %}

    <div class="image-wrapper">
        <div class="candidates-wrapper">
            {% for i in range(1, count) %}
                <img src="/images/kgalik-candidate.svg" class="can-{{ class }}-{{ i }}">
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<div class="c">
    <h2> Spišská Nová Ves,<br>hrozí ti zamorenie kgálikmi!</h2>

    <div class="row">
        <div class="col-md-4">
            {% set nr_of_kgalikov = random(12) + 1 %}
            {{ m.candidates(nr_of_kgalikov) }}

            <h3>
                {{ nr_of_kgalikov }}&nbsp;{{ nr_of_kgalikov == 1 ? 'kgálik kandiduje' : (nr_of_kgalikov <= 4 ? 'kgálici kandidujú' : 'kgálikov kandiduje') }}  za&nbsp;{{ nr_of_kgalikov == 1 ? 'poslanca' : 'poslancov' }}
            </h3>
        </div>
        <div class="col-md-4">
            <div class="image-wrapper">
                <img src="/images/chair.svg">
            </div>

            <h3>
                1800&nbsp;krúžkov stačilo na&nbsp;zvolenie poslanca*
            </h3>
            <p>
                * Vo voľbách do VÚC v roku 2013 získalo 5 zvolených poslancov v tvojom obvode 1800, 1978, 2560, 3210 a 4200 krúžkov.
            </p>
        </div>
        <div class="col-md-4">
            <div class="image-wrapper">
                <img src="/images/supporters.svg">
            </div>

            <h3>
                kgálici majú 2100&nbsp;a&nbsp;viac priaznivcov**
            </h3>
            <p>
                ** Vo voľbách do NRSR v roku 2016 volilo kgálikov 2100 ľudí. Od&nbsp;volieb stúpli preferencie kgálikov o 2 percentuálne body.
            </p>
        </div>
    </div>
</div>