{% spaceless %}
{%- set VERSION = 1.08 -%}
{%- set FB_URL = 'https://kgalici.sk/koho-volit' -%}
{%- set FB_DESCRRIPTION = 'Zisti, ktorí nekgálici kandidujú v tvojom volebnom obvode, či kandidovali vo voľbách v minulosti a ako vtedy dopadli.' -%}
{%- set FB_TITLE = 'Koho voliť alebo kto sú nekgálici?' -%}
<!DOCTYPE html>
<html lang="sk" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Zastav inváziu kgálikov</title>

    <meta property="og:url" content="{{ FB_URL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ FB_TITLE }}">
    <meta property="og:description" content="{{ FB_DESCRRIPTION }}">
    <meta property="og:image" content="https://kgalici.sk/images/fb-share-koho-volit.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="fb:app_id" content="153936648677078">

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto+Slab:300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css?v={{ VERSION }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108806947-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108806947-1');
    </script>
</head>

<body data-version="{{ VERSION }}">
{% block content %}
{% endblock %}

<script src="/js/main.min.js?v={{ VERSION }}"></script>

</body>
</html>
{% endspaceless %}