{%- set VERSION = 0.08 -%}
{%- set FB_URL = 'https://kgalici.sk/' -%}
{%- set FB_DESCRRIPTION = 'Robia hnedé bobky a tolerujú iba biele zvieratká. A množia sa. Zisti, ako ich môžeš zastaviť, aby nezamorili tvoje mesto alebo dedinu.' -%}
{%- set FB_TITLE = 'Zastav inváziu kgálikov' -%}
<!DOCTYPE html>
<html lang="sk" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Zastav inváziu kgálikov</title>

    <meta property="og:url" content="{{ FB_URL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ FB_TITLE }}">
    <meta property="og:description" content="{{ FB_DESCRRIPTION }}">
    <meta property="og:image" content="{{ FB_URL }}images/kgalici.png">
    <meta property="og:image:width" content="952">
    <meta property="og:image:height" content="1428">
    <meta property="fb:app_id" content="153936648677078">

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto+Slab:300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css?v={{ VERSION }}">
</head>

<body data-version="{{ VERSION }}">
{% block content %}
{% endblock %}

<script src="/js/main.min.js?v={{ VERSION }}"></script>

</body>
</html>